.app {
  display: flex;
  background-color: #1a222c;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.postsList {
  flex-grow: 1;
}

.usersList {
  width: 20%;
  background-color: #1a222c;
  height: 100vh;
}
