.post {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
  gap: 10px;
  margin: 10px 60px;
}

.text {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

.btn_img {
  background-color: #1a222c;
  border: none;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.currentUsersPost {
  grid-template-columns: 1fr auto;
  justify-items: end;
}

.currentUsersPostText {
  background-color: lightgreen;
  grid-row: 1;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5px;
}

.name {
  color: rgb(169, 50, 202);
}
